{% extends "home.html.twig" %}


{% block title %}
    page de connexion
{% endblock %}


{% block css %}
    
{% endblock %}


{% block content %}
    <p>ma page de connexion</p>
{% endblock %}


{% block script %}
{% endblock %}