{% extends "base.html.twig" %}


{% block title %}
{% endblock %}


{% block css %}
{% endblock %}


{% block content %}
<div><p class="text-primary">kfgjkfgjgfkj,gj;</p></div>
    <a href="{{ path('connect') }}">Se connecter</a>
{% endblock %}


{% block script %}
{% endblock %}