<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Nouveau message du formulaire de contact de ton PortFolio !</h2>
    <p>
        Tu as reçu un message de {{data.name }}. <br>
        Voici son adresse mail : {{ data.email }} <br>
        Voici le message : <br>
        {{ data.message }}
    </p>
</body>
</html>